# XCI Help File Grammar

scopeName: 'source.xci.help'
name: 'XCI Help'      # Name shown in Atom Editor grammar selection
# File extensions associated with this grammar
fileTypes: [
  'txt'
]

patterns: [
   { include: '#comments' }
   { include: '#constants' }
]

# Respository starts here -----------------------------------------------------
repository:

  'comments':
    patterns: [
      # hash comments
      {
        match:  '#.*$'
        name:   'comment.xci.help'
      }
    ]

   'constants':
      patterns: [
         {
            match:   '(\\\\).[0-9]*[h|H|v|V]*'
            name:    'constant.xci.help.index'
         }
      ]
